<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164742584-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-164742584-1');
  </script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PMD Gen | Generate passwords for Pokemon Mystery Dungeon</title>
  <meta name="description" content="A password tool/generator to create friend rescue/revival passwords for Pokemon Mystery Dungeon: Rescue Team DX. More games coming soon.">
  <meta name="twitter:card" content="summary">
  <meta name="og:title" property="og:title" content="PMD Gen | Generate passwords for Pokemon Mystery Dungeon">
  <meta name="og:description" property="og:description" content="Generate friend rescue/revival passwords for Pokemon Mystery Dungeon: Rescue Team DX.">
  <meta name="og:image" property="og:image" content="https://pmd-gen.herokuapp.com/images/PMD_LOGO.png">
  <meta name="og:url" property="og:url" content="https://pmd-gen.herokuapp.com">
  <meta name="google-site-verification" content="g7UKjM9Re3VcPqUKFxYPLz42bhGIEyLP7gAqF06WmHw" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <!-- Top Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">PMD Gen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto">
            <a href="https://github.com/Karthik99999/pmd-gen" target="_blank" style="font-size:35px"><i class="fab fa-github" style="color:white"></i></a>
          </ul>
        </div>
      </nav>
      <!-- Jumbotron -->
      <div class="container">
        <div class="col-md-12">
          <h3>Generators</h3>
          <div class="jumbotron">
            <div class="row justify-content-center">
              <div class="col-sm-auto">
                <div class="card" style="background:linear-gradient(#ED1C24, #0097DC)">
                  <img src="./images/RTDX_LOGO.png" class="card-img-top" alt="Rescue_DX">
                  <div class="card-body">
                    <button class="btn btn-success" data-toggle="modal" data-target="#rtdx-friend-rescue">Friend Rescue</button>
                    <button class="btn btn-success" data-toggle="modal" data-target="#rtdx-revive">Revival Password</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="rtdx-friend-rescue" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="rtdx-friend-rescue" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rescueModalTitle">Générateur de mots de passe pour le Sauvetage Ami de Pokémon Donjon Mystère : Équipe de Secours DX</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="rtdx-generate" method="get">
          <div class="form-group" id="rescueTeam" style="display: none;">
            <label for="rescueTeamName">Team name:</label>
            <input type="text" class="form-control" id="rescueTeamName" name="team" maxlength="12" placeholder="Poképotes" value="pmd-gen" required>
          </div>
          <div class="form-group">
            <label for="rtdx-dungeons">Donjon :</label>
            <select class="form-control" id="rtdx-dungeons" name="dungeon" required>
            {{template "rtdx-dungeons.tmpl" .}}
            </select>
          </div>
          <div class="form-group">
            <label for="floor">Étage :</label>
            <input type="number" class="form-control" id="rtdx-floor" name="floor" min="1" max="3" required></input>
          </div>
          <div class="form-group" id="rtdx-pokemonlist" style="display: none;">
            <label for="rtdx-pokemon">Pokémon:</label>
            <select class="form-control" id="rtdx-pokemon" name="pokemon" required>
            {{template "rtdx-pokemon.tmpl" .}}
            </select>
          </div>
          <div class="form-group" id="rtdx-genders" style="display: none;">
            <label for="gender">Gender:</label>
            <select class="form-control" id="gender" name="gender" required>
              <option value="0">Mâle</option>
              <option value="1">Femelle</option>
              <option value="2">Asexué</option>
            </select>
          </div>
          <div class="form-group">
            <label for="rewards">Récompense :</label>
            <select class="form-control" id="rtdx-rewards" name="reward" required>
              <option value="3">Royal</option>
              <option value="2">Spécial</option>
              <option value="1">Standard</option>
            </select>
          </div>
      </div>
      <div class="modal-footer">
        <div class="custom-control custom-checkbox custom-control-inline mr-auto">
          <input type="checkbox" class="custom-control-input" id="advancedOptions">
          <label class="custom-control-label" for="advancedOptions">Paramètres avancés</label>
        </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary">Générer</button>
      </div>
      </form>
    </div>
  </div>
</div>
<div class="modal fade" id="rtdx-revive" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="rtdx-revive" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="revivalModalTitle">Générateur de mots de passe pour reprendre connaissance de Pokémon Donjon Mystère : Équipe de Secours DX</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Le mot de passe doit être saisi avec deux caractères par symbole. Le premier caractère est le chiffre/la lettre en haut, et le second est la première lettre du nom anglais de la forme.</p>
        <p>F = Fire (Feu)</p>
        <p>H = Heart (Cœur)</p>
        <p>W = Water (Eau)</p>
        <p>E = Emerald (Émeraude)</p>
        <p>S = Star (Étoile)</p>
        <p>Par exemple : "1f xh pw 4e 8s"</p>
        <form action="rtdx-revival" method="get">
          <div class="form-group">
            <label for="rescuePassword">Mot de passe de secours :</label>
            <textarea type="text" class="form-control" id="rescuePassword" name="password" required></textarea>
          </div>
          <div class="form-group">
            <label for="team">Nom de l'équipe (celle qui vous « sauvera ») :</label>
            <input type="text" class="form-control" name="team" maxlength="12" placeholder="Poképotes" value="pmd-gen" required>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-primary">Générer</button>
      </div>
      </form>
    </div>
  </div>
</div>
  </div>
    <footer>
      © 2020 Karthik99999 | <a href="https://github.com/Karthik99999/pmd-gen" target="_blank">Source</a>
      <br>
      All game logos used on this site belong to The Pokémon Company. This site is not affiliated with The Pokémon Company or Spike Chunsoft in any way.
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  <script src="./js/index.js"></script>
</body>

</html>
