{{define "rtdx-dungeons.tmpl"}}
<option value="1" data-maxfloors="3">Petit Bois</option>
<option value="2" data-maxfloors="5">Grotte Éclair</option>
<option value="3" data-maxfloors="9">Mont Acier</option>
<option value="4" data-maxfloors="13">Bois Sinistre</option>
<option value="5" data-maxfloors="9">Val Silencieux</option>
<option value="6" data-maxfloors="13">Mont Foudre</option>
<option value="7" data-maxfloors="12">Grand Ravin</option>
<option value="8" data-maxfloors="14">Grotte Lapis</option>
<option value="9" data-maxfloors="15">Mont Ardent</option>
<option value="10" data-maxfloors="14">Forêt Givrée</option>
<option value="11" data-maxfloors="20">Mont Glacial</option>
<option value="12" data-maxfloors="26">Mine Magma</option>
<option value="13" data-maxfloors="34">Tour Céleste</option>
<option value="16" data-maxfloors="4">Bois Brouhaha</option>
<option value="17" data-maxfloors="19">Bassin Cascade</option>
<option value="18" data-maxfloors="20">Erg Sans Fin</option>
<option value="19" data-maxfloors="50">Caverne Australe</option>
<option value="20" data-maxfloors="30">Colline Dragon</option>
<option value="21" data-maxfloors="15">Ruines Obscures</option>
<option value="22" data-maxfloors="11">Ruines Zarbi</option>
<option value="23" data-maxfloors="30">Haute Mer</option>
<option value="24" data-maxfloors="75">Mer des Confins</option>
<option value="25" data-maxfloors="15">Bois Hurlement</option>
<option value="26" data-maxfloors="40">Mer Houleuse</option>
<option value="27" data-maxfloors="99">Ruines Enfouies</option>
<option value="28" data-maxfloors="20">Grotte du Soleil</option>
<option value="29" data-maxfloors="30">Terres de Feu</option>
<option value="30" data-maxfloors="30">Terres de Foudre</option>
<option value="31" data-maxfloors="30">Terres Blizzard</option>
<option value="32" data-maxfloors="60">Pic Inaccessible</option>
<option value="33" data-maxfloors="20">Grotte Ouest</option>
<option value="34" data-maxfloors="25">Monts Septentrion</option>
<option value="35" data-maxfloors="25">Vallée Infernale</option>
<option value="36" data-maxfloors="99">Grotte des Vœux</option>
<option value="37" data-maxfloors="99">Tour Bonheur</option>
<option value="38" data-maxfloors="99">Forêt Pureté</option>
<option value="39" data-maxfloors="19">Grotte Ténèbres</option>
<option value="40" data-maxfloors="99">Fosse d'Argent</option>
<option value="42" data-maxfloors="8">Grotte Périls</option>
<option value="43" data-maxfloors="13">Île Vestige</option>
<option value="44" data-maxfloors="18">Eaux Merveilleuses</option>
<option value="45" data-maxfloors="25">Canal Fantaisie</option>
{{end}}